<div class="bg-img">
    <div style="margin-top: 25px;">
        <iframe width="350" height="430" allow="microphone;" 
            src="https://console.dialogflow.com/api-client/demo/embedded/ad7fbbe2-c508-43eb-b272-b8cbbd3a1ab7">
        </iframe>
    </div>
    <div class="instructions">
        <h2>Welcome to the Swell Chatbot!</h2>
        <p>Ask the chatbot what the surf is doing at any spot to get an instant surf report! For example, "What is the surf doing at Saunton?".</p>
    </div>
</div>

