<div class="container">
    <h1>
        For the pros
        <a href="http://magicseaweed.com"><img src="https://im-1-uk.msw.ms/msw_powered_by.png"></a>
    </h1>
    <div class="row">
      <div class="col-lg-5">
        <div *ngIf="mswData" class="row">
          <div class="col-lg-6 day">
            <div class="pro-title">
              Swell direction
            </div>
            <div class="icon">
                <i class="wi wi-wind from-{{mswData.swell.components.primary.direction | number:'1.0-0'}}-deg"></i>
            </div>
            <div class="pro-direction">
              {{mswData.swell.components.primary.compassDirection}}
            </div>
          </div>
          <div class="col-lg-6 day">
            <div class="pro-title">
              Wind gusts
            </div>
            <div class="icon">
              <i class="wi wi-wind from-{{mswData.wind.direction | number:'1.0-0'}}-deg"></i>
          </div>
            <div class="pro-direction">
              {{mswData.wind.gusts}}mph
            </div>
          </div>
          <div class="col-lg-6 day">
            <div class="pro-title">
              Period
            </div>
            <div class="icon">
              <fa-icon [icon]="faClock"></fa-icon>
            </div>
            <div class="pro-direction">
                {{mswData.swell.components.primary.period}}s
            </div>
          </div>
          <div class="col-lg-6 day">
            <div class="pro-title">
              Pressure
            </div>
            <div class="icon">
              <fa-icon [icon]="faTachometerAlt"></fa-icon>
            </div>
            <div class="pro-direction">
              {{mswData.condition.pressure}}mb
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <ngx-gallery *ngIf="photosLoaded" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
    </div>
    
</div>